<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Percolation method</title>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles.less') }}"/>
</head>
<body>
<div class="percolation-method">
    <div class="percolation-method__form-wrapper">
        <div class="percolation-method__form-inputs">
            <label for="size-input">Size</label>
            <input type="number" id="size-input" class="percolation-method__form-size-input">
            <br>
            <label for="concentration-input">Concentration</label>
            <input type="number" id="concentration-input" class="percolation-method__form-concentration-input">
        </div>
        <button class="percolation-method__form-btn" onclick="onButtonClick('generateMatrix')">Generate</button>

        <button class="percolation-method__form-btn" onclick="onButtonClick('generateMatrix')">Generate</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('crossMatrix')">Cross Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('verticalZebraMatrix')">Vertical Zebra Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('horizontalZebraMatrix')">Horizontal Zebra Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('verticalRainMatrix')">Vertical Rain Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('horizontalRainMatrix')">Horizontal Rain Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('chessMatrix')">Chess Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('circlesMatrix')">Circles Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('hMatrix')">H Matrix</button>
        <button class="percolation-method__form-btn" onclick="onButtonClick('hShiftMatrix')">H Shift Matrix</button>

        <button class="percolation-method__form-btn" onclick="onButtonHoshenKopelmanClick()">Generate Hoshen Kopelman</button>
        <button class="percolation-method__form-btn" id="dijkstra-btn" onclick="onButtonDijkstraClick(selected1.x, selected1.y, selected2.x, selected2.y)">Dijkstra</button>
        <button class="percolation-method__form-btn" id="shortest-btn" onclick="findShortestWay()">Find shortest way</button>
        <button class="percolation-method__form-btn" id="reset-btn" onclick="generateTable(currentMatrix)">Reset</button>
        <br>
        <p id="info-text"></p>
    </div>
    <table class="percolation-method__table" id="percolation-table"></table>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/less" ></script>
</body>
</html>
