.percolation-method {
    margin: 0 auto;
    width: auto;
    height: auto;

    &__table {
        margin: 0 auto;
        height: 200px;
        width: 200px;
        border: 1px solid gray;
        min-width: max-content;

        td {
            border: 1px solid gray;
            width: 25px;
            height: 25px;

            &._blue {
                background: #177199;
            }
            &._darkgray {
                background: #A9A9A9;
            }
        }
    }

    &__form {

        &-inputs {
            margin-bottom: 20px;

            input {
                margin-top: 20px;
            }
        }

        &-wrapper {
            text-align: center;
        }
    }
}
